/*All*/
body { 
    background-color: beige;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#board {
    display:flex;
    justify-content: center
}
.grid {
    display: flex;
    border-radius: 2vh;
    flex-wrap: wrap;
    width: 90vh;
    height: 90vh;
    background-color: rgb(187, 173, 160)
}

.grid div {
    display: flex;
    width: 20vh;
    height: 20vh;
    font-size: 11vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: bold;
    margin : 1.2vh;
    border-radius: 3vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}


.score-container, #result {
    display: flex;
    flex-direction: row;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10vh
}

#score {
    width: 50vh;
}

button {
    height: 10vh;
    width:90vh;
    border-radius: 3vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 6vh;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#button {
    display:flex;
    justify-content: center;
}

/* Typing Effect */
.typewriter h3 {
    color: red;
    margin: 2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 10vh;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 5s steps(40, end),
      blink-caret .5s step-end infinite;
  }

.nav1 {
    width: 50%
}

.nav2 {
    width:50%; 
    display: flex; 
    justify-content: space-around; 
    align-items: center
}

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }


/* Popup Modal For Showing Result */
* {
    box-sizing: border-box;
}

h1 {
    font-size: 8vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}


p {
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    font-size: 4vh
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:rgba(0,0,0,0.3);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container.show {
    opacity: 1;
    pointer-events: auto;
}

#restart {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: 6vh;
    width: 30vh;
    font-size: 4vh;
    font-weight:bold;
    border-radius: 1vh;
}

.modal {
    background-color:  white;
    width: 600px;
    max-width: 100%;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
